@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "./ui/lightswind.css";
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: "Nunito", "League Spartan";
}

@layer utilities {
    .font-logo {
        font-family: "Instrument Serif", "Nunito";
    }
}